<!DOCTYPE html>  
<html>  
<head>
    <title>Generate ASDF</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/application.css" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascript/asdf.js"></script>
    <script type="text/javascript" src="/javascript/copy.js"></script>
<script type="text/javascript" src="http://use.typekit.com/xyy3shq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script></head>
<body>
    <div class="container">
      <div class="row">
        <div class="span7">
        <h1>Generate ASDF</h1>
        <form method="post">
            <input type="submit" value="Repeat" id="submit" class="btn danger"/>
        </form>
        </div>
        <div id="result" class="span7 result">
          <%= @block %>
        </div>
      </div>
    </div>

    <div class="doolin">
      <span class="shamrock">&#9752;</span> <a href="http://dool.in/" title="My routing page.">dool.in</a>
      <span class="shamrock">&#9752;</span> <a href="http://walteryu.com/" title="My homepage.">wyu</a>
    </div>

  </body>
</html>
