/**
 * From the command line in root:
 * sass --watch public/css/ --style expanded
 */
html, body {
  /*  height: 100%;*/
}

html {
  background: url("/images/600full-marilyn-monroe.jpg");
  height: 100%;
}

body {
  height: 99%;
  font-family: "Gill Sans", "Gill Sans MT", Sans-Serif;
  background: transparent url("/images/bg-stipple.png");
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-position-x: 50%;
  background-position-y: 0%;
  background-origin: initial;
  background-clip: initial;
  margin: 0;
  padding-top: 1%;
}

/**
 * bootstrap-based
 */
.container {
  width: 400px;
  border: 1px solid #444;
  padding: 50px;
  margin-top: 100px;
  background-color: #ffffef;
}

.container h1 {
  margin-bottom: 12px;
  text-align: center;
  color: #ff4b33;
  font-size: 60px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ff4b33;
  font-family: bistro-script-web,cursive;
  font-style: normal;
  font-weight: 400;
}

form {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff4b33;
}

form > ul {
  text-align: center;
  list-style-type: none;
  margin-bottom: 0px;
}

.chooser li {
  display: inline;
}

ul.social-links {
  padding-top: 9px;
  text-align: center;
  margin-bottom: 0px;
}

ul.social-links li {
  display: inline;
  padding: 0 8px;
}

.g-plusone {
  display: inline;
}

.result {
  margin-top: 2px;
  padding-top: 6px;
}

.result:hover {
  color: #f56;
  cursor: pointer;
}

.result:active {
  color: #f56;
  cursor: pointer;
}

div.doolin {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.shamrock {
  color: #008000;
  font-size: 110%;
}

/**
 * Original layout.
 */
.old-container {
  width: 400px;
  margin: 120px auto 0px auto;
  border: 1px solid #444;
  padding: 50px;
  background-color: #ffffef;
}

h1 {
  width: 400px;
  margin-bottom: 12px;
  text-align: center;
  color: #ff4b33;
  font-size: 40px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ff4b33;
}

#url {
  width: 280px;
  margin-right: 12px;
}

.clear {
  height: 1px;
  width: 400px;
  clear: both;
}

.old-result {
  clear: both;
  width: 400px;
  margin-top: 12px;
  border-top: 2px solid #ff4b33;
  padding-top: 12px;
  text-align: center;
}

.old-result a {
  font-size: 24px;
  display: block;
  margin-top: 8px;
  color: #ff2d11;
  background: #ffd2cc;
  padding: 8px;
}

a:hover {
  text-decoration: none;
}
