/**
 * From the command line in root:
 * sass --watch public/css/ --style expanded
 */
html, body {
/*  height: 100%;*/
}

html {
  background: url('/images/600full-marilyn-monroe.jpg');
  height: 100%;
}

body {
  height: 99%;
  font-family:"Gill Sans", "Gill Sans MT", Sans-Serif;
  background: transparent url('/images/bg-stipple.png');
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-position-x: 50%;
  background-position-y: 0%;
  background-origin: initial;
  background-clip: initial;
  margin: 0;
  padding-top: 1%;
}

.container {
  width:400px;
  margin:120px auto 0px auto;
  border: 1px solid #444;
  padding: 50px;
  background-color: #ffffef;
}

h1 {
  width:400px;
  margin-bottom:12px;
  text-align:center;
  color:#ff4b33;
  font-size:40px;
  padding-bottom:8px;
  border-bottom:2px solid #ff4b33;
}

form {
  display:block;
  width:400px;
}

input {
  display:block;
  float:left;
  padding:8px;
  font-size:16px;
}

#url {
  width:280px;
  margin-right:12px;
}


#submit {
  width:88px;
  border:none;
  background:#ff4b33;
  padding:10px;
}


#submit:hover {
  background:#ff7866;
}


.clear {
  height:1px;
  width:400px;
  clear:both;
}

.result {
  clear:both;
  width:400px;
  margin-top:12px;
  border-top:2px solid #ff4b33;
  padding-top:12px;
  text-align:center;
}

.result a {
  font-size:24px;
  display:block;
  margin-top:8px;
  color:#ff2d11;
  background:#ffd2cc;
  padding:8px;
}
